<div class="social-links">
    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="http://facebook.com/{{ site.facebook }}" target="_blank">
            <i class="fa fa-2x fa-facebook"><use xlink:href="#icon-facebook"></use></i>
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="http://twitter.com/{{ site.twitter }}" target="_blank">
            <i class="fa fa-2x fa-twitter"><use xlink:href="#icon-twitter"></use></i>
        </a>
    {% endif %}

    {% if site.lattes %}
        <a class="link" data-title="http://lattes.cnpq.br/{{ site.lattes }}" href="http://lattes.cnpq.br/{{ site.lattes }}" target="_blank">
           <i class="ai ai-lattes ai-2x"><use xlink:href="#icon-lattes"></use></i>
        </a>
    {% endif %}

    {% if site.google %}
        <a class="link" data-title="plus.google.com/+{{ site.google }}" href="http://plus.google.com/+{{ site.google }}" target="_blank">
             <i class="fa fa-2x fa-google"><use xlink:href="#icon-google"></use></i>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="http://instagram.com/{{ site.instagram }}" target="_blank">
            <i class="fa fa-2x fa-instagram"><use xlink:href="#icon-instagram"></use></i>
        </a>
    {% endif %}

    {% if site.pinterest %}
        <a class="link" data-title="pinterest.com/{{ site.pinterest }}" href="http://pinterest.com/{{ site.pinterest }}" target="_blank">
            <i class="fa fa-2x fa-pinterest"><use xlink:href="#icon-pinterest"></use></i>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank">
            <i class="fa fa-2x fa-linkedin"><use xlink:href="#icon-linkedin"></use></i>
        </a>
    {% endif %}

    {% if site.youtube %}
        <a class="link" data-title="youtube.com/{{ site.youtube }}" href="http://youtube.com/{{ site.youtube }}" target="_blank">
            <i class="fa fa-2x fa-youtube"><use xlink:href="#icon-youtube"></use></i>
        </a>
    {% endif %}

    {% if site.spotify %}
        <a class="link" data-title="open.spotify.com/user/{{ site.spotify }}" href="https://open.spotify.com/user/{{ site.spotify }}" target="_blank">
           <i class="fa fa-2x fa-spotify"><use xlink:href="#icon-spotify"></use></i>
        </a>
    {% endif %}

    {% if site.lastfm %}
        <a class="link" data-title="last.fm/user/{{ site.lastfm }}" href="https://last.fm/user/{{ site.lastfm }}" target="_blank">
            <i class="fa fa-2x fa-lastfm"><use xlink:href="#icon-lastfm"></use></i>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank">
            <i class="fa fa-2x fa-github"><use xlink:href="#icon-github"></use></i>
        </a>
    {% endif %}

    {% if site.gitlab %}
        <a class="link" data-title="gitlab.com/{{ site.gitlab }}" href="https://gitlab.com/{{ site.gitlab }}" target="_blank">
           <i class="fa fa-2x fa-gitlab"><use xlink:href="#icon-gitlab"></use></i>
        </a>
    {% endif %}

    {% if site.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/users/{{ site.stackoverflow }}" href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank">
            <i class="fa fa-2x fa-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></i>
        </a>
    {% endif %}

    {% if site.quora %}
        <a class="link" data-title="quora.com/profile/{{ site.quora }}" href="https://www.quora.com/profile/{{ site.quora }}" target="_blank">
            <i class="fa fa-2x fa-quora"><use xlink:href="#icon-quora"></use></i>
        </a>
    {% endif %}

    {% if site.reddit %}
        <a class="link" data-title="reddit.com/user/{{ site.reddit }}" href="https://www.reddit.com/user/{{ site.reddit }}" target="_blank">
            <i class="fa fa-2x fa-reddit"><use xlink:href="#icon-reddit"></use></i>
        </a>
    {% endif %}

    {% if site.medium %}
        <a class="link" data-title="medium.com/@{{ site.medium }}" href="https://medium.com/@{{ site.medium }}" target="_blank">
            <i class="fa fa-2x fa-medium"><use xlink:href="#icon-medium"></use></i>
        </a>
    {% endif %}

    {% if site.vimeo %}
        <a class="link" data-title="vimeo.com/{{ site.vimeo }}" href="https://vimeo.com/{{ site.vimeo }}" target="_blank">
            <i class="fa fa-2x fa-vimeo"><use xlink:href="#icon-vimeo"></use></i>
        </a>
    {% endif %}

    {% if site.lanyrd %}
        <a class="link" data-title="lanyrd.com/{{ site.lanyrd }}" href="https://lanyrd.com/{{ site.lanyrd }}" target="_blank">
           <i class="fa fa-2x fa-microphone"><use xlink:href="#icon-microphone"></use></i>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
            <i class="fa fa-2x fa-envelope"><use xlink:href="#icon-mail"></use></i>
        </a>
    {% endif %}
</div>
